body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* Native styles */

a {
    color: #00695c;
    font-weight: bold;
}

a:hover {
    color: #004d40;
}

/* Page chrome */

.page-footer {
    border-top: solid 10px #80cbc4;
}

#index-banner {
    border-bottom: solid 3px #004d40;
}

/* Page navigation */

nav {
    z-index: 1;
}

.nav-container {
    height: 68px;
}

@media only screen and (max-width: 720px) {
    nav .main-nav--item i {
        display: none;
    }
}

nav ul a:hover {
    color: #fff;
    background-color: #000;
}

.nav__el--divided {
    border-right: solid 2px #004d40;
}

/* Utility classes */

@media only screen and (max-width: 415px) {
    .hide-on-tiny-only {
        display: none;
    }
}

/* Toggle component */

.toggle__body {
    padding: 5px 15px;
}

/* exploit/hack page */

textarea.textarea--code {
    font-family: Courier, monospace;
    background-color: #f7f7f7;
    padding-left: 0.5rem;
    padding-top: 1rem;
    margin-top: 5px;
}

#hack-frame {
    width: 100%;
    margin-top: 10px;
    border: solid 1px #bdbdbd;
    transition: border-color 1000ms linear;
    min-height: 400px;
}