@()

@main("Further reading") {
    <div class="container">
        <h2>Cross-Site Request Forgery</h2>
        <h3>Conditions</h3>
        <h4>Authenticated</h4>
        <h4>Side-effects on request</h4>
        <hr />
        <h2>Further reading</h2>
        <ul>
            <li><a href="https://www.owasp.org/index.php/Cross-Site_Request_Forgery_(CSRF)">OWASP</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Cross-site_request_forgery">Wikipedia</a></li>
        </ul>
    </div>
}