@(message: Option[String])

@main("Add entry", None) {
    <div class="container">
        <h2>Log in</h2>
        @message.map { messageText =>
            <div class="card-panel teal lighten-5">
                <p>@messageText</p>
            </div>
        }
        <p>
            The authentication system in this application is faked for demo purposes.
            The username is <b>demo</b> and any password will work.
        </p>
        <form method="post">
            <div class="row">
                <div class="input-field col s12">
                    <input name="username" id="add-username" type="text" />
                    <label for="add-username">Username (demo)</label>
                </div>
                <div class="input-field col s12">
                    <input name="password" id="add-password" type="password" />
                    <label for="add-text">Password</label>
                </div>
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Log in
                    </button>
                </div>
            </div>
        </form>
    </div>
}
