@(title: String, identity: Option[String])(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("materialize/css/materialize.min.css")'>
        <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="shortcut icon" href='@routes.Assets.versioned("images/favicon.ico")'>
        <link rel="icon" type="image/png" href='@routes.Assets.versioned("images/favicon-32x32.png")' sizes="32x32">
        <link rel="icon" type="image/png" href='@routes.Assets.versioned("images/favicon-16x16.png")' sizes="16x16">
        <link rel="apple-touch-icon" sizes="120x120" href='@routes.Assets.versioned("images/apple-touch-icon.png")'>
    </head>
    <body>
        <header class="section teal lighten-3" id="index-banner">
            <div class="container">
                <h1 class="header center-on-small-only">CSRF demo</h1>
                <div class="row">
                    <div class="col s12 m9">
                        <h4 class="light teal-text text-darken-3 center-on-small-only">Practice exploiting Cross-Site Request Forgery vulnerabilities.</h4>
                    </div>
                </div>
            </div>
        </header>
        <div class="nav-container">
            <nav class="grey darken-4 z-depth-1">
                <div class="container">
                    <div class="nav-wrapper">
                        <ul class="main-nav left">
                            <li class="main-nav--home">
                                <a href="/"><i class="material-icons">home</i></a>
                            </li>
                            <li class="main-nav--item">
                                <a href="/list">
                                    <span class="hide-on-small-only">
                                        <i class="material-icons left">view_list</i>
                                        Show entries
                                    </span>
                                    <span class="hide-on-med-and-up">
                                        Entries
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav--item">
                                <a href="/add">
                                    <span class="hide-on-small-only">
                                        <i class="material-icons left">library_add</i>
                                        Add an entry
                                    </span>
                                    <span class="hide-on-med-and-up">
                                        Add <span class="hide-on-tiny-only">entry</span>
                                    </span>
                                </a>
                            </li>
                            <li class="main-nav--item">
                                <a href="/hack">
                                    <i class="material-icons left">developer_mode</i>
                                    Hack
                                </a>
                            </li>
                        </ul>
                        <ul class="account-nav right">
                            <li class="account-nav--item">
                                <a href="/account">
                                    <i class="material-icons right">account_box</i>
                                    <span class="hide-on-small-only">
                                        Account
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <main>
            @content
        </main>

        <footer class="page-footer grey darken-4">
            <div class="container">
                <div class="row">
                    <div class="col l8 s12">
                        <h5 class="white-text">CSRF demo application</h5>
                        <p class="grey-text text-lighten-4">
                            This application has been built by the Guardian to teach developers about the perils of
                            Cross-Site Request Forgery attacks.
                        </p>
                    </div>
                    <div class="col l3 offset-l1 s12">
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <script src='@routes.Assets.versioned("javascripts/jquery-3.0.0.min.js")'></script>
        <script src='@routes.Assets.versioned("materialize/js/materialize.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/app.js")'></script>
    </body>
</html>
